autom4te.cache/*
src/.deps/*
src/*.o
autoconf/*
config.h
aclocal.m4
config.log
config.status
configure
stamp-h1
config.h.in
Makefile
Makefile.in
man/Makefile
man/Makefile.in
man/stuff.1
src/Makefile
src/Makefile.in
src/stuff
stuff.spec
man/stuff.1
